@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 6% 10%;
    --foreground: 210 20% 98%;
    --card: 220 6% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 220 6% 10%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220 10% 10%;
    --secondary: 220 6% 18%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 6% 24%;
    --muted-foreground: 220 5% 64%;
    --accent: 220 6% 22%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 6% 18%;
    --input: 220 6% 18%;
    --ring: 210 20% 90%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 220 6% 10%;
    --foreground: 210 20% 98%;
    --card: 220 6% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 220 6% 10%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220 10% 10%;
    --secondary: 220 6% 18%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 6% 24%;
    --muted-foreground: 220 5% 64%;
    --accent: 220 6% 22%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 6% 18%;
    --input: 220 6% 18%;
    --ring: 210 20% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
